= simple_form_for @category, url: copy_create_store_operation_avaliation_items_path(@store, @operation), remote: true, method: :post do |f|
  = f.input :target_id, label: "Listas", as: :select, collection: Operation.all.map { |k,v| ["#{k.store.name} - #{k.name}", k.id]}, include_blank: 'Selecione...'
  = f.submit 'Realizar copia', class: 'ui button blue'
